= form_for @user, :html => {:multipart => true}, :class => "form-control" do |f|
  %div.input-group
    %span.input-group-addon.left
      = f.label :username, :autofocus => true
    - if !@user.id.nil?
      = f.text_field :username, :disabled => true, :class => "form-control"
    - else
      = f.text_field :username, :class => "form-control"
  %br
  %div.input-group
    %span.input-group-addon.left
      = f.label :first_name
    = f.text_field :fname, :class => "form-control"
  %br
  %div.input-group
    %span.input-group-addon.left
      = f.label :last_name
    = f.text_field :lname, :class => "form-control"
    %span.input-group-addon.glyphicon.glyphicon-lock
  %br
  %div.input-group
    %span.input-group-addon.left
      = f.label :dob, "Date of Birth"
    = f.text_field :dob, :class => "form-control"
    %span.input-group-addon.glyphicon.glyphicon-lock
  %br
  %div.input-group
    %span.input-group-addon.left
      = f.label :email
    = f.text_field :email, :class => "form-control"
    %span.input-group-addon.glyphicon.glyphicon-lock
  %br
  %div.input-group
    %span.input-group-addon.left
      = f.label :phone
    = f.text_field :phone, :class => "form-control"
    %span.input-group-addon.glyphicon.glyphicon-lock
  %br
  %div.input-group
    %span.input-group-addon.left
      = f.label :bio
    = f.text_area :bio, :class => "form-control", :rows => "5"
  %br
  %div.input-group
    %span.input-group-addon.left
      = f.label :password
    = f.password_field :password, :class => "form-control"
  %br
  %div.input-group
    %span.input-group-addon.left
      = f.label :password_confirmation, "Confirm"
    = f.password_field :password_confirmation, :class => "form-control"
  %br/
  %div.input-group
    - if @user.image.url.present?
      %img{:src => @user.image.url, :alt => ""}
    %br/
    %span.input-group-addon.left
      = f.label :image
    = f.file_field :image
  %br/
  ==<input type="checkbox" name="input_terms_consent" value="true" checked> I agree to the <a href="/terms.html", target= "_blank">terms and conditions</a>
  == <input type="submit" value="#{ @user.id.present?? 'Edit User' : 'Create User' }">
