.col-md-3.col-lg-3.col-sm-3.col-xs-3
  = form_for @order, :method => :post, :url => buy_path do |f|
    = f.label :servings
    = f.text_field :servings, :autofocus => true, :class => "form-control"
    %br/
    = f.datetime_select(:pickup, ampm: true, minute_step: 15)

    %br/
    = f.submit
