.jumbotron
	= form_tag root_path, :method => :get, :class => 'form-group' do
		= text_field_tag :search, params[:search], :class=>'search'
		= select_tag :distance, options_for_select([['1 km',1],['2 km', 2],['5 km', 5]])
		== <input type="submit" value="Search Nearby" class="submit">
- if @meal_message
	%h1
		Sorry, there are no meals in that area yet,
		= link_to("create one now", new_meal_path)
- @meals.each do |meal|
	%article.col-md-3.col-lg-3.col-sm-3.box.preview-meal
		= link_to(image_tag(meal.image, :class=> "img-responsive"), meal_path(meal))
		.preview-details
			%span.name
				= link_to meal.name, meal_path(meal)
			%span.price
				$
				= number_with_precision(meal.price, :precision => 0)
			%p
				= meal.address
			%p
				= meal.user.username




