.jumbotron
	= form_tag root_path, :method => :get, :class => 'form-group animated rotateIn' do
		= text_field_tag :search, params[:search], :class=>'search'
		= select_tag :distance, options_for_select([['1 km',1],['2 km', 2],['5 km', 5]])
		== <input type="submit" value="Search Nearby" class="submit">
- if @meal_message
	%h1
		Sorry, there are no meals in that area yet,
		= link_to("create one now", new_meal_path)
= render partial: "preview"




