= form_for @meal, :html => {:multipart => true} do |f|
  = f.label :name
  = f.text_field :name, :autofocus => true, :class => "form-control"

  = f.label :image
  = f.file_field :image

  = f.label :cuisine
  = f.text_field :cuisine, :class => "form-control"

  = f.label :address
  = f.text_field :address, :class => "form-control"

  = f.label :price
  = f.text_field :price, :class => "form-control"

  = f.label :servings
  = f.text_field :servings, :class => "form-control"

  = f.label :notes
  = f.text_area :notes, :class => "form-control", :rows=>"5"

  = f.submit
