- @meals.each do |meal|
  %ul
    %li= link_to meal.name, meal_path(meal)
    %li
      %img{:src => "#{meal.user.image.url}"}
    %li
      Cuisine:
      = meal.cuisine
    %li
      Price:
      = meal.price
    %li
      Servings:
      = meal.servings
    %li
      By:
      = meal.user.username