.row
  / LEFT Column (meal details)
  .col-lg-4.col-md-4.about
    .panel.panel-primary
      .panel-heading
        %h1.panel-title
          = @meal.name
          %span.price
            $
            = number_with_precision(@meal.price, :precision => 0)
      %p.panel-address.panel-body
        = @meal.address
        - if @meal.user != @auth
          = link_to("Buy", buy_path, :class => 'buy price')
      %p.panel-body
        = @meal.notes
      %p.panel-body
        = link_to(image_tag("http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@meal.latitude}%2C#{@meal.longitude}", :class => "img-responsive"),"http://maps.google.com/maps?&z=100&q=#{@meal.address.to_s.gsub(" ","+")}", :target => 'new')
      - if @meal.user == @auth
        %p.panel-body.text-center
          = link_to("Edit", edit_meal_path(@meal), :class=>'control')
          = link_to("Delete", meal_path(@meal), :method => 'delete', :confirm => 'Are you sure?', :class=> 'control')
  / MIDDLE Column (meal picture)

  .col-lg-5.col-md-5.images
    %img{:src => "#{@meal.image.url}", :class => "img-responsive"}

  / RIGHT Column (chef details)

  .col-lg-3.col-md-3.chef
    .panel.panel-success
      .panel-heading
        %img.panel-title.text-center{:src => "#{@meal.user.image.thumb.url}"}
        %h2.panel-title.text-center
          = link_to("#{@meal.user.fname}",user_path(@meal.user))
      %p.panel-body
        = @meal.user.bio
      %ul.list-group
        %li.list-group-item
          Rating - feature coming soon
        %li.list-group-item
          Verification - feature coming soon

.row
  / BOTTOM Row (nearby meals)
  .col-lg-12.col-md-12.nearby
    %h3
      Nearby meals
    = render partial: "pages/preview"


