<!DOCTYPE html>
<html>
<head>
  <title>Neighbourfood</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Neighbourfood", root_path, :class => "navbar-brand" %>

      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Create Meal", new_meal_path %></li>
          <% if @auth.present? %>
            <% if @auth.meals.length > 0 %>
              <li><%= link_to('My meals', meals_path(@auth)) %></li>
            <% end %>
            <% if @auth.orders.length > 0 %>
              <li><%= link_to('My orders', orders_path) %></li>
            <% end %>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if @auth.present? %>
          <li><%= link_to('Edit User', edit_user_path(@auth)) %></li>
          <li><%= link_to('Logout ' + @auth.username, logout_path, :method => 'get', :confirm => 'Are you sure?') %></li>
          <% else %>
          <li><%= link_to("Sign Up", new_user_path) %></li>
          <%= render :partial => '/session/login' %>
          <% end %>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
  </div>
  <% if flash[:notice].present? %>
    <p><%= flash[:notice] %></p>
  <% end %>
  <div class="container">
    <%= yield %>
  </div><!-- container -->
    <footer class="container">
      <div class="social">
        <p>
          Facebook
          Twitter
          Pintrest
        </p>
        <p>
          Join our mailing list
        </p>
      </div><!-- social -->
    </footer>


</body>
</html>
